@import url("https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Hedvig+Letters+Serif:opsz@12..24&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&display=swap");
.heroDiv {
  background-color: #f6f6f6;
  height: 180vh;
  width: 96vw;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box1Landing {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.7rem;
}

.header {
  font-family: "Hedvig Letters Serif", serif;
  font-optical-sizing: auto;
  animation: slideInFromBottom 0.5s ease-out;
  font-style: normal;
  text-align: center;
  font-size: 3.5rem;
  font-weight: bolder;
}
.secondHeader {
  animation: slideInFromBottom 0.7s ease-out;
  text-align: center;
  color: #6a6a6a;
  font-family: "Hedvig Letters Sans", sans-serif;
  font-style: normal;
  font-size: 1.1rem;
}
.getStart {
  animation: slideInFromBottom 0.7s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Hedvig Letters Sans", sans-serif;
  background-color: black;
  color: white;
  font-size: 1.2rem;
  height: 3rem;
  width: 10rem;
  cursor: pointer;
  border-radius: 1rem;
}
@media (max-width: 650px) {
  .heroDiv {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header {
    font-size: 2rem;
    padding: 0 1rem;
  }
  .secondHeader {
    font-size: 0.8rem;
    padding: 0 1rem;
  }
  .box1Landing {
    height: 80vh;
  }
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(90%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
